# Python virtual environment
venv/

# Python cache files
__pycache__/
*.pyc

# Large data files
dataset/
*.csv

# Saved models and processed data
*.pkl
*.npy

# Jupyter Notebook checkpoints
.ipynb_checkpoints/